.termLink {
  display: block;
  cursor: pointer;
  user-select: none;

  & + .termLink {
    margin-top: 4px;
  }

  .term {
    background-color: lightgreen;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid green;
    
    .title {
      font-weight: 600;
      font-size: 12px;
    }
  }
  
  .occupiedTerm {
    background-color: lightpink;
    border-color: red;
  }

  .lunchBreakTerm {
    background-color: lightgray;
    border-color: gray;
  }

  &:hover {
    opacity: 0.7;
  }
}

.linkDisabled {
  cursor: not-allowed;

  &:hover {
    opacity: 1;
  }
}
