.wrapper {
  position: relative;

  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.6);
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}